<header>
    <div class="w3-bar w3-black">
        <a href="/catlog/add-author" class="w3-bar-item w3-button">Add Author</a>
        <a href="/catlog/add-book" class="w3-bar-item w3-button">Add Book</a>
        <a href="/catlog/books" class="w3-bar-item w3-button">Show Books</a>
      </div>
</header>