<!DOCTYPE html>
<html>
  <%- include('./partials/_head.ejs')  %> 
  </head>
  <body>
    <%- include('./partials/_header.ejs')  %> 
    <h1>Add New Author</h1>
    <form class="w3-container" action="/catlog/add-author" method="POST">
        <p>
        <label>First Name</label>
        <input class="w3-input" type="text" name="firstName" required></p>
        <p>
        <label>Family Name</label>
        <input class="w3-input" type="text" name="familyName" required></p>
        <p>
        <label>Date of Birth</label>
        <input class="w3-input" type="date" name="dateBirth" required></p>
        <label>Date of Death</label>
        <input class="w3-input" type="date" name="dateDeath"></p>
        <input class="w3-input" type="submit">
      </form>
  </body>
</html>