<!DOCTYPE html>
<html>
<%- include('./partials/_head.ejs') %>
    </head>

    <body>
        <%- include('./partials/_header.ejs') %>
            <h1>Reservar libro <strong>
                    <%= book.title %>
                </strong></h1>
            <form class="w3-container" action="/catlog/reservation/new-reservation" method="POST">
                <input type="hidden" name="idBook" value="<%= book._id %>">
                <div class="w3-row">
                    <label for="startDate">Fecha de inicio: </label>
                    <input type="date" name="startDate" id="startDate">
                </div>
                <div class="w3-row" style="margin-top: 1rem;">
                    <label for="endDate">Fecha de inicio: </label>
                    <input type="date" name="endDate" id="endDate">
                </div>
                <input class="w3-btn w3-teal" type="submit" value="Reservar">
            </form>

            <script>
                // Get today's date
                const today = new Date();

                // Set start date to today
                const startDate = today.toISOString().split('T')[0];
                document.getElementById('startDate').value = startDate;

                // Calculate date 30 days from today
                const endDate = new Date();
                endDate.setDate(today.getDate() + 30);
                const formattedEndDate = endDate.toISOString().split('T')[0];

                // Set end date to 30 days later
                document.getElementById('endDate').value = formattedEndDate;
            </script>
    </body>

</html>